---
name: Build OpenWrt

on:
  push:
    paths-ignore:
      - '**.md'
    branches:
      - '**'
  pull_request:
    paths-ignore:
      - '**.md'
    branches:
      - '**'
  workflow_dispatch:

jobs:
  build-openwrt:
    strategy:
      matrix:
        flavour: ["x86_64"]

    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Checkout image-builder
        uses: actions/checkout@v4
        with:
          repository: 'OpsBoost/image-builder'
          ref: 'dev'
          path: 'image-builder'

      - name: Build
        run: |
          sudo ./image-builder/image-builder install
          image-builder build openwrt ${{ matrix.flavour }}
          pwd
          ls -al

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: openwrt-x86_64
          path: openwrt/build_dir/target-x86_64_musl/linux-x86_64/tmp/openwrt-x86-64-*.img.gz

      - name: Upload artifact
        uses: actions/upload-artifact@v3
        with:
          name: openwrt-x86_64-packages
          path: openwrt/bin/targets/x86/64/packages/*
